.messages-wrap{
    height: 100vh;
    background: linear-gradient(144deg, #9f9ef552, #f3e8e8);
}
.dialog-window{
    position: relative;
    margin-right: 20px;
    width: 100%;
    background: #fff;

    .dateLine{
        position: relative;
        text-transform: capitalize;
        margin: 80px 100px 30px;
        text-align: center;
        opacity: 0.2;

        span{
            position: relative;
            padding: 10px 30px;
            z-index: 2;
        }
    }

    .dialogs-wrap{
        position: relative;
        overflow: scroll;
        height: calc(100% - 150px);
        padding: 10px 50px;
    }

    .dialog-header{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.753);
        padding: 20px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 100%;
        }
    }

    .dialog{
        display: flex;
        padding: 1px 0;

        .dialog_img{
            display: flex;
            align-items: flex-end;
            visibility: hidden;

            img{
                border-radius: 50px;
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }
       
        .dialog_text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
            max-width: 80%;
        }

        .dialog_images{
            display: flex;
            flex-wrap: wrap;

            img{
                margin-top: 10px;
                margin-right: 10px;
                height: 150px;
                cursor: pointer;
            }

            .selected{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.877);
                z-index: 999;

                img{
                    height: 500px;
                    transition: .3s;
                }
            }
        }

        .dialog_file{
            border: 1px solid rgb(209, 208, 208);
            background: #fff;
            padding-left: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .dialog_file-name{
                max-width: 200px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;

                .dialog_file-ext{
                    background: #00bcd4;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 10px;
                    margin-right: 5px;
                }
            }

            img{
                padding-left: 10px;
                border-left: 1px solid rgb(209, 208, 208);
                width: 50px;
            }
        }

        .dialog_message{
            display: inline-block;
            background: #ff9800a6;
            padding: 15px;
            white-space: pre-line;
            border-radius: 10px;
            border-radius: 5px 10px 10px 5px;
            box-shadow: 5px 5px 10px #80808040;
        }

        .dialog_time{
            color: #00000045;
            font-size: 13px;
            display: none;
        }

        &.me{
            flex-direction: row-reverse;

            .dialog_text{
                margin-right: 10px;

                .dialog_images{
                    justify-content: flex-end;

                    img{
                        margin-left: 10px;
                        margin-right: 0;
                        object-fit: cover;
                    }

                }

                .dialog_message{
                    background: #864dac;
                    color: #fff;
                    border-radius: 15px 5px 5px 15px;
                    box-shadow: -5px 5px 10px #80808040;
                }

                .dialog_time{
                    justify-content: flex-end;
                }
            }
           
        }

        &.frst{
            padding-top: 20px;

            .dialog_time{
                display: flex;
                margin-bottom: 5px;
            }

            .dialog_img{
                visibility: visible;
            }

            .dialog_message{
                border-radius: 15px 15px 15px 0;
            }

            &.me{
                .dialog_message{
                    border-radius: 15px 15px 0 15px;
                }
            }
        }
        &.lst{

            .dialog_message{
                border-radius: 0 15px 15px 15px;
            }

            &.me{
                .dialog_message{
                    border-radius: 15px  0 15px 15px;
                }
            }
        }
    }

    .preview{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: 150px;
        background: #4c4a4ab8;
        width: 100%;

        .file-preview{
            margin: 20px 0;
            margin-left: 15px;
            padding: 5px 15px;
            background: #fff;
        }

        span{
            position: relative;
            
            .preview__remove{
                position: absolute;
                right: -10px;
                top: 10px;
                background: #00000096;
                line-height: 1px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                cursor: pointer;
            }
        }

        img{
            margin: 20px 0;
            margin-left: 20px;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    .dialog_buttons{
        position: absolute;
        left: 0;
        bottom: 100px;
        background: #fff;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);

        label img{
            width: 20px;
            height: 20px;
            margin: 10px;
            cursor: pointer;
        }

        input{
            display: none;
        }
    }

    form{
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        bottom: 0;

        textarea{
            resize: none;
            padding: 10px;
            padding-right: 100px;
            width: 100%;
            height: 100px;
            font-family: sans-serif;
            font-size: 18px;
            border: none;
            outline: none;

            &::placeholder{
                color: rgb(184, 184, 184);
            }
        }

        button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            width: 60px;
            height: 60px;
            background: #fff;
            padding: 10px;
            border: none;
            outline: none;
            cursor: pointer;

            img{
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 3;
            }
        }
    }

    .dialog_header{
        position: absolute;
        width: 100%;
        z-index: 99;
        background: rgba(0, 0, 0, 0.692);
        padding: 10px;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dialog_call{
            img{
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
        }

        .dialog_header_user_img{
            img{
                width: 70px;
                height: 70px;
                object-fit: cover;
            }
        }
    }
}
.upload-progress{
    height: 5px;
    transition: .5s;
    background: red;
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #580667;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
.emoji-picker-react{
    position: absolute !important;
    bottom: 50px;
}