.splash-wrap{
    width: 100%;
    height: 0;
    background: #fff;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

    &.active{
        height: 100%;
    }

    h1{
        color: rgb(44, 2, 71);
        font-size: 40px;
        opacity: 0;
        transform: translateY(100px);
        transition: 2s;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
}