.header-wrapper{
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    background: linear-gradient(45deg, #000000, #6b097d);
    color: #fff;
    padding: 20px 0;
    z-index: 99;

    .header-account{
        position: relative;
        width: 100%;

        .header-avatar{
            position: relative;
            left: 0;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: #fff;
            margin: 0 auto;

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;     
                border-radius: 50%;
                object-fit: cover;
            }

            input{
                display: none;
            }

            label{
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #eae9e9;
                cursor: pointer;

                img{
                    width: 100%;
                    height: 100%;
                    padding: 7px;
                }
            }
        }

        .header-account-account{
            position: relative;
            float: right;
            padding-right: 15px;
            cursor: pointer;
            text-transform: uppercase;

            &:after{
                content: "";
                display: block;
                top: 20%;
                right: 0;
                position: absolute;
                width: 5px;
                height: 5px;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                transform: rotate(45deg);
            }

            .header-account__dropdown{
                position: absolute;
                background: #1e1e1c9e;
                width: 200px;
                left: 0;
                padding: 20px;
            

                li{
                    list-style: none;
                }
            }
        }
    }

    .login{
        margin-right: 20px;
    }

    .logo-letters{
        position: absolute;
        font-size: 300px;
        bottom: 0;
        left: 10%;
        font-weight: 800;
        color: #030632;
        text-shadow: 5px 1px 5px #0000005c;
    }

    .add_new_project{
        margin-top: 50px;
    }
    
}
