*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

// COLORS 
$color_primary: #153240;
$color_secondary: #ffe6b3;
$color_tertinary: #d8d8d81f;

// LINKS
a{
  color: #000;
  text-decoration: none;
  padding: 10px;
}

body{
  background: $color_tertinary;
}

.main{
  padding-top: 50px;
  margin-right: 20%;
}

.color-secondary{
  color: $color_secondary;
}
.page {
  position: absolute;
  left: 15px;
  right: 15px;
}
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.flexbox{
  display: flex
}

.space-between{
  justify-content: space-between;
}

.v-center{
  align-items: center;
}

.btn{
  position: relative;
  display: inline-block;
  background: #d70351;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}



